Repository voxpupuli/puppet-wildfly, pull requests merged in 2024-10, with the labels that each got.

#335 Drop EoL CentOS 8 support
  metadata.json
Labels: backwards-incompatible

#343 Allow setting java_opts only
  templates/domain.conf.epp
  templates/standalone.conf.epp
Labels: enhancement

#344 Release v4.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#345 puppetmodule.info: Update badge url
  README.md
Labels: skip-changelog
