Repository voxpupuli/puppet-wildfly, pull requests merged in 2024-08, with the labels that each got.

#333 Release 3.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#329 Drop EoL Ubuntu 18.04 support
  metadata.json
Labels: backwards-incompatible

#327 Drop EoL EL7/Scientific Linux support
  metadata.json
Labels: backwards-incompatible

#328 Drop EoL Debian 10 support
  metadata.json
Labels: backwards-incompatible

#334 Fix systemd templates
  functions/service_config.pp
  manifests/service/systemd.pp
  spec/functions/service_config_spec.rb
  templates/jboss-eap.systemd.service.epp
  templates/launch.sh.epp
Labels: bug
